system/data/raw/
system/saved_models/
system/experiments/results/
web/model/
venv/
env/
.venv/
/env/
/venv/
pycache/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
Thumbs.db
web/static/uploads/
web/instance/